# light_the_torch
# ltt install --pytorch-computation-backend=cu121 torch torchvision torchtext
gdown==5.2.0
pandas==2.2.3
spacy==3.8.3
matplotlib==3.10.0
scikit-learn==1.6.0
timm==0.8.17.dev0
torch==2.1.0
transformers==4.27.1
torchtext
torchvision==0.16.0
torchaudio==2.1.0
accelerate==1.2.1
bitsandbytes==0.45.0